<ion-header>
    <ion-toolbar>
        <ion-title>Dilekçe {{ id ? 'Düzenle' : 'Oluştur' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">İptal</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--FORM-->
    <form (ngSubmit)="save()" [formGroup]="form">
        <!--TEMPLATE-->
        <ion-item>
            <ion-label position="floating">Şablon</ion-label>
            <ion-select required name="template"
                        [formControlName]="'template'"
                        (ngModelChange)="onTemplateChange($event)"
                        placeholder="-- Seçiniz --">
                <ion-select-option *ngFor="let _template of templates"
                                   [value]="_template.id">{{_template.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--NAME-->
        <ion-item>
            <ion-label position="floating">Dilekçe Adı</ion-label>
            <ion-input required name="name"
                       [formControlName]="'name'"
                       placeholder="Dilekçe adı giriniz"></ion-input>
        </ion-item>
        <!--TEMPLATE SPECIFIC QUESTIONS-->
        <app-dynamic-form *ngIf="dynamicQuestions"
                          (formGroupUpdated)="onDynamicFormUpdated($event)"
                          [form]="form"
                          [questions]="dynamicQuestions"></app-dynamic-form>
        <!--ACTIONS-->
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" *ngIf="id" color="danger" (click)="removeWithConfirm()">Sil</ion-button>
            <ion-button slot="end" fill="clear" type="submit" color="primary" [disabled]="form.invalid">Kaydet</ion-button>
        </ion-item>
    </form>
</ion-content>
