<ion-header>
    <ion-toolbar>
        <ion-title>Dilekçe {{ id ? 'Düzenle' : 'Oluştur' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">İptal</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--FORM-->
    <form (ngSubmit)="save()" #form="ngForm">
        <!--TEMPLATE-->
        <ion-item>
            <ion-label>Şablon</ion-label>
            <ion-select required name="template"
                        (ngModelChange)="onTemplateChange($event)"
                        [(ngModel)]="petition.templateId" placeholder="-- Seçiniz --">
                <ion-select-option *ngFor="let _template of templates"
                                   [value]="_template.id">{{_template.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--NAME-->
        <ion-item>
            <ion-label>Dilekçe Adı</ion-label>
            <ion-input placeholder="Dilekçe adı giriniz" name="name" [(ngModel)]="petition.name" required></ion-input>
        </ion-item>
        <!--ACTIONS-->
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" *ngIf="id" color="danger" (click)="removeWithConfirm()">Sil</ion-button>
            <ion-button slot="end" fill="clear" type="submit" color="primary" [disabled]="form.invalid">Kaydet</ion-button>
        </ion-item>
    </form>
</ion-content>
