<ion-header>
    <ion-toolbar>
        <ion-title>Dilekçe {{ id ? 'Düzenle' : 'Oluştur' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">İptal</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--TEMPLATE-->
    <ion-item *ngIf="petition">
        <ion-label>Şablon</ion-label>
        <ion-select required name="template"
                    (ngModelChange)="onTemplateChange($event)"
                    [(ngModel)]="petition.petitionTemplateId" placeholder="-- Seçiniz --">
            <ion-select-option *ngFor="let _template of templates"
                               [value]="_template.id">{{_template.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <!--FORM-->
    <form (ngSubmit)="save()" #form="ngForm" *ngIf="template && petition">
        <ion-item-divider>
            <ion-label color="primary">Gerekli Alanlar</ion-label>
        </ion-item-divider>
        <!--NAME-->
        <ion-item>
            <ion-label>Dilekçe Adı</ion-label>
            <ion-input placeholder="Dilekçe adı giriniz" name="name" [(ngModel)]="petition.name"></ion-input>
        </ion-item>
        <!--CLAIMENT-->
        <ion-item *ngIf="isRequiredField('claiment')">
            <ion-label>Davacı</ion-label>
            <ion-select required name="claiment"
                        [(ngModel)]="petition.claimentId"
                        placeholder="-- Seçiniz --">
                <ion-select-option *ngFor="let person of persons"
                                   [value]="person.id">{{_personFullName(person)}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--DEFENDANT-->
        <ion-item *ngIf="isRequiredField('defendant')">
            <ion-label>Davalı</ion-label>
            <ion-select required name="defendant"
                        [(ngModel)]="petition.defendantId"
                        placeholder="-- Seçiniz --">
                <ion-select-option *ngFor="let person of persons"
                                   [value]="person.id">{{_personFullName(person)}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--ACTIONS-->
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" *ngIf="id" color="danger" (click)="removeWithConfirm()">Sil</ion-button>
            <ion-button slot="end" fill="clear" type="submit" color="primary" [disabled]="form.invalid">Kaydet</ion-button>
        </ion-item>
    </form>
</ion-content>
