<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="create()">Yeni kişi</ion-button>
        </ion-buttons>
        <ion-title>
            Kişiler
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-button fill="clear" *ngFor="let person of persons" (click)="navToDetail(person.id)">{{_fullName(person)}} - {{person.nId}}</ion-button>
    </ion-list>
</ion-content>
