<ion-grid>
    <ion-row *ngFor="let parties of groupedParties">
        <ion-col *ngFor="let party of parties" [size]="columnSize">
            <app-card *ngIf="!party" (click)="create()" class="add-new">
                <app-card-body>
                    <ion-button fill="clear" slot="start">
                        <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    </ion-button>
                </app-card-body>
            </app-card>
            <app-card *ngIf="party" (click)="navToDetail(party.id)">
                <app-card-header>
                    <app-card-title>
                        {{ party.type }}
                    </app-card-title>
                    <app-card-subtitle>
                        {{ personName(party) }}
                    </app-card-subtitle>
                </app-card-header>
            </app-card>
        </ion-col>
    </ion-row>
</ion-grid>
