<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Taraflar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row *ngFor="let parties of groupedParties">
            <ion-col *ngFor="let party of parties" [size]="columnSize">
                <app-card *ngIf="!party" (click)="create()" class="add-new">
                    <app-card-body>
                        <ion-button fill="clear" slot="start">
                            <ion-icon size="large" name="add-circle-outline"></ion-icon>
                        </ion-button>
                    </app-card-body>
                </app-card>
                <app-card *ngIf="party" (click)="navToDetail(party.id)">
                    <app-card-header>
                        <app-card-title>
                            {{ party.type }}
                        </app-card-title>
                        <app-card-subtitle>
                            {{ personName(party) }}
                        </app-card-subtitle>
                    </app-card-header>
                </app-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
