<ion-item [formGroup]="form"
          *ngIf="question.condition != null ? question.condition : true"
          [ngSwitch]="question.controlType">
    <ng-container formGroupName="dynamic">
        <ion-label position="floating" [attr.for]="question.key">{{ question.label }}</ion-label>

        <ion-input *ngSwitchCase="'textbox'"
                   [formControlName]="question.key"
                   [id]="question.key"
                   [name]="question.key"
                   [type]="question.type"
                   [required]="question.required"></ion-input>

        <ion-datetime *ngSwitchCase="'date'"
                      [formControlName]="question.key"
                      [id]="question.key"
                      [name]="question.key"
                      [required]="question.required"
                      [displayFormat]="question.format"></ion-datetime>

        <ion-select *ngSwitchCase="'dropdown'"
                    [formControlName]="question.key"
                    [id]="question.key"
                    [name]="question.key"
                    [required]="question.required">
            <ion-select-option *ngFor="let opt of question.options"
                               [value]="opt.key">{{opt.value}}</ion-select-option>
        </ion-select>
    </ng-container>
    <!--<div class="errorMessage" *ngIf="!isValid">{{ question.label }} is required</div>-->
</ion-item>
