app-card {

  app-card-title {
    font-size: .8rem;
  }

  &.add-new {
    app-card-body {
      ion-button {
        margin: 0 auto;
      }
    }
  }

  .remaining-time {
    position: absolute;
    right: -.15rem;
    top: -.15rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: .7rem;
    padding: .3rem;
    font-weight: bold;
    width: 1.75rem;
    height: 1.75rem;
    vertical-align: middle;
    text-align: center;
    line-height: 1.2rem;
    display: block;
  }
}
