<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="create()">Yeni dosya</ion-button>
        </ion-buttons>
        <ion-title>
            Dosyalar
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let caseFile of caseFiles">
            <ion-button fill="clear" (click)="navToDetail(caseFile.id)">{{caseFile.type}} - {{caseFile.fileNo}}</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
