<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="edit()">Düzenle</ion-button>
        </ion-buttons>
        <ion-title>{{party.type}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Kişi: </ion-label>
        <ion-button fill="clear" (click)="navToPersonDetail(party.personId)">{{personFullName(person)}}</ion-button>
    </ion-item>
    <ion-list>
        <ion-list-header>
            <ion-label>Dilekçeler</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let petition of petitions">
            <ion-button fill="clear" (click)="navToPetition(petition.id)">
                {{ petition.name }}
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
