<ion-header>
    <ion-toolbar>
        <ion-title>Dosya {{ id ? 'Düzenle' : 'Oluştur' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">İptal</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="save()" #form="ngForm" *ngIf="caseFile">
        <!--FILE TYPE-->
        <ion-item>
            <ion-label position="floating">Dosya tipi</ion-label>
            <ion-select required
                        name="caseFileType"
                        placeholder="-- Seçiniz --"
                        (ngModelChange)="onTypeChange($event)"
                        [(ngModel)]="caseFile.type">
                <ion-select-option *ngFor="let caseFileType of caseFileTypeDataset"
                                   [value]="caseFileType.value">{{caseFileType.value}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--COMPETENT AUTHORITY-->
        <ion-item *ngIf="caseFile.type">
            <ion-label position="floating">{{getCompetentAuthorityLabel(caseFile.type)}}:</ion-label>
            <ion-select required
                        name="competentAuthority"
                        placeholder="-- Seçiniz --"
                        [(ngModel)]="caseFile.competentAuthorityId">
                <ion-select-option *ngFor="let cAuthority of competentAuthorities"
                                   [value]="cAuthority.id">{{cAuthority.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <!--FILE NO-->
        <ion-item *ngIf="caseFile.type">
            <ion-label position="floating">{{caseFile.type}} no</ion-label>
            <ion-input name="fileNo" [(ngModel)]="caseFile.fileNo" required></ion-input>
        </ion-item>
        <!--CONCILIATION NO-->
        <ion-item>
            <ion-label position="floating">Uzlaştırma numarası</ion-label>
            <ion-input name="conciliationNo" [(ngModel)]="caseFile.conciliationNo" required></ion-input>
        </ion-item>
        <!--CONCILIATION START DATE-->
        <ion-item>
            <ion-label position="floating">Dosya kabul tar.</ion-label>
            <ion-datetime required
                          displayFormat="DD/MM/YYYY"
                          name="conciliationStartDate"
                          [(ngModel)]="caseFile.conciliationStartDate"></ion-datetime>
        </ion-item>
        <!--CHARGE DATE-->
        <ion-item>
            <ion-label position="floating">Görevlendirilme tar.</ion-label>
            <ion-datetime required
                          displayFormat="DD/MM/YYYY"
                          name="chargeDate"
                          [(ngModel)]="caseFile.chargeDate"></ion-datetime>
        </ion-item>
        <!--ACTIONS-->
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" *ngIf="id" color="danger" (click)="removeWithConfirm()">Sil</ion-button>
            <ion-button slot="end" fill="clear" type="submit" color="primary" [disabled]="form.invalid">Kaydet</ion-button>
        </ion-item>
    </form>
</ion-content>
