<ion-header>
    <ion-toolbar>
        <ion-title>
            UzlaşTr
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button size="large" expand="full" color="primary" (click)="navToCaseFiles()">
        <ion-icon slot="end" name="folder"></ion-icon>
        Dosyalar
    </ion-button>
    <ion-button size="default" expand="full" color="secondary" (click)="navToPersons()">
        <ion-icon slot="end" name="people"></ion-icon>
        Kişiler
    </ion-button>
</ion-content>
