<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="edit()">Düzenle</ion-button>
        </ion-buttons>
        <ion-title *ngIf="person">{{_fullName(person)}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="person">
    <ion-item><ion-label>Ad: </ion-label>{{person.name}}</ion-item>
    <ion-item><ion-label>İkinci Ad: </ion-label>{{person.middlename || '-'}}</ion-item>
    <ion-item><ion-label>Soyad: </ion-label>{{person.lastname}}</ion-item>
    <ion-item><ion-label>Anne Adı: </ion-label>{{person.motherName}}</ion-item>
    <ion-item><ion-label>Baba Adı: </ion-label>{{person.fatherName}}</ion-item>
    <ion-item><ion-label>T.C. No: </ion-label>{{person.nId}}</ion-item>
    <ion-item><ion-label>Doğum Tarihi: </ion-label>
        <ion-datetime readonly
                      displayFormat="DD/MM/YYYY"
                      [value]="person.birthDate"></ion-datetime>
    </ion-item>
    <ion-item><ion-label>Doğum Yeri: </ion-label>{{person.birthPlace}}</ion-item>
    <ion-item><ion-label>Telefon: </ion-label>{{person.phone}}</ion-item>
    <ion-item><ion-label>Adres: </ion-label>{{getAddressInfo(address)}}</ion-item>
    <ion-item><ion-label>Mernis Adresi: </ion-label>{{getAddressInfo(mernisAddress)}}</ion-item>
</ion-content>
