<ion-header>
    <ion-toolbar>
        <ion-title>Kişi {{ id ? 'Düzenle' : 'Oluştur' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss({cancelled: true})">İptal</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="save()" #form="ngForm" *ngIf="person">
        <!--NAME-->
        <ion-item>
            <ion-label position="floating">Ad</ion-label>
            <ion-input name="name" [(ngModel)]="person.name" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Soyad</ion-label>
            <ion-input name="lastname" [(ngModel)]="person.lastName" required></ion-input>
        </ion-item>
        <!--PARENT INFO-->
        <ion-item>
            <ion-label position="floating">Anne Adı</ion-label>
            <ion-input name="motherName" [(ngModel)]="person.motherName" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Baba Adı</ion-label>
            <ion-input name="fatherName" [(ngModel)]="person.fatherName" required></ion-input>
        </ion-item>
        <!--NATIONAL ID-->
        <ion-item>
            <ion-label position="floating">T.C. Kimlik No</ion-label>
            <ion-input name="nId" [(ngModel)]="person.identificationNo" required></ion-input>
        </ion-item>
        <!--BIRTH DATE-->
        <ion-item>
            <ion-label position="floating">Doğum Tarihi</ion-label>
            <ion-datetime required name="birthDate"
                          displayFormat="DD/MM/YYYY"
                          [(ngModel)]="person.birthDate"></ion-datetime>
        </ion-item>
        <!--BIRTH PLACE-->
        <ion-item>
            <ion-label position="floating">Doğum Yeri</ion-label>
            <ion-input name="birthPlace" [(ngModel)]="person.birthPlace"></ion-input>
        </ion-item>
        <!--PHONE-->
        <ion-item>
            <ion-label position="floating">Tel. No</ion-label>
            <ion-input type="tel" name="phone" [(ngModel)]="person.phone" required></ion-input>
        </ion-item>
        <!--ADDRESS-->
        <ion-item-group>
            <ion-item-divider>Beyan adresi</ion-item-divider>
            <ion-item>
                <ion-label position="floating">Ülke</ion-label>
                <ion-select name="address.country" [(ngModel)]="address.countryId" required placeholder="-- Seçiniz --">
                    <ion-select-option *ngFor="let country of countries"
                                       [value]="country.id">{{ country.name }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">İl</ion-label>
                <ion-input name="address.city" required [(ngModel)]="address.cityName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">İlçe</ion-label>
                <ion-input name="address.district" required [(ngModel)]="address.districtName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cadde-Sokak</ion-label>
                <ion-input name="address.street" required [(ngModel)]="address.streetName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Açık Adres</ion-label>
                <ion-textarea name="address.full" required [(ngModel)]="address.fullAddress"></ion-textarea>
            </ion-item>
        </ion-item-group>
        <!--MERNIS ADDRESS-->
        <ion-item-group>
            <ion-item-divider>Mernis adresi (isteğe bağlı)</ion-item-divider>
            <ion-item>
                <ion-label position="floating">Şehir</ion-label>
                <ion-input name="mernisAddress.city" [(ngModel)]="mernisAddress.cityName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">İlçe</ion-label>
                <ion-input name="mernisAddress.district" [required]="!!mernisAddress.cityName" [(ngModel)]="mernisAddress.districtName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cadde-Sokak</ion-label>
                <ion-input name="mernisAddress.street" [required]="!!mernisAddress.cityName" [(ngModel)]="mernisAddress.streetName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Açık Adres</ion-label>
                <ion-textarea name="mernisAddress.full" [required]="!!mernisAddress.cityName" [(ngModel)]="mernisAddress.fullAddress"></ion-textarea>
            </ion-item>
        </ion-item-group>
        <!--ACTIONS-->
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" *ngIf="id" color="danger" (click)="removeWithConfirm()">Sil</ion-button>
            <ion-button slot="end" fill="clear" type="submit" color="primary" [disabled]="form.invalid">Kaydet</ion-button>
        </ion-item>
    </form>
</ion-content>
