<ion-content padding center text-center>
    <ion-text>
        <h1>UzlaşTr</h1>
    </ion-text>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Kullanıcı adı"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Parola" type="password"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button expand="full">Giriş yap</ion-button>
    <ion-button expand="full" color="light" (click)="navToRegister()">Kaydol</ion-button>
</ion-content>
