<ion-grid>
    <ion-row *ngFor="let petitions of groupedPetitions">
        <ion-col *ngFor="let petition of petitions" [size]="columnSize">
            <app-card *ngIf="!petition" (click)="create()" class="add-new">
                <app-card-body>
                    <ion-button fill="clear">
                        <ion-icon size="large" name="add-circle-outline"></ion-icon>
                    </ion-button>
                </app-card-body>
            </app-card>
            <app-card *ngIf="petition" (click)="navToDetail(petition.id)">
                <app-card-header>
                    <app-card-title>
                        {{ petition.name }}
                    </app-card-title>
                </app-card-header>
            </app-card>
        </ion-col>
    </ion-row>
</ion-grid>
