<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="create()">Yeni dilekçe</ion-button>
        </ion-buttons>
        <ion-title>
            Dilekçeler
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-button fill="clear" *ngFor="let petition of petitions" (click)="navToDetail(petition.id)">{{petition.name}}</ion-button>
    </ion-list>
</ion-content>
