<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="edit()">Düzenle</ion-button>
        </ion-buttons>
        <ion-title *ngIf="caseFile">{{caseFile.type}} no: {{caseFile.fileNo}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="caseFile">
    <ion-item>
        <ion-label>Dosya türü: </ion-label>{{caseFile.type}}
    </ion-item>
    <ion-item>
        <ion-label>Uzlaştırma nu.: </ion-label>{{caseFile.conciliationNo}}
    </ion-item>
    <ion-item>
        <ion-label>Dosya kabul tar.: </ion-label>
        <ion-datetime readonly
                      [value]="caseFile.conciliationStartDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Görevlendirme tar.: </ion-label>
        <ion-datetime readonly
                      [value]="caseFile.chargeDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Merci: </ion-label>{{competentAuthority.name}}
    </ion-item>
    <ion-item>
        <ion-label>Kalan süre: </ion-label>{{remainingTime}} gün
        <ion-button slot="end" color="secondary" size="small" fill="outline" (click)="navToExtensionTimes()">Ek süre</ion-button>
    </ion-item>
    <ion-item>
        <ion-label>Uzlaşma sağlandı</ion-label>
        <ion-toggle color="success"
                    [checked]="caseFile.agreementReached"
                    [disabled]="processing"
                    (ionChange)="agreementReachedChange($event)"></ion-toggle>
    </ion-item>
    <ion-button expand="block" (click)="navToParties()">Taraflar</ion-button>
</ion-content>
