<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="edit()">Düzenle</ion-button>
        </ion-buttons>
        <ion-title>Dosya: {{caseFile.fileNo}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>Dosya türü: </ion-label>{{caseFile.type}}
    </ion-item>
    <ion-item>
        <ion-label>Uzlaştırma nu.: </ion-label>{{caseFile.conciliationNo}}
    </ion-item>
    <ion-item>
        <ion-label>Uzlaştırma baş. tar.: </ion-label>
        <ion-datetime readonly
                      [value]="caseFile.conciliationStartDate.toISOString()" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Görevlendirme tar.: </ion-label>
        <ion-datetime readonly
                      [value]="caseFile.chargeDate.toISOString()" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Merci: </ion-label>{{competentAuthority.name}}
    </ion-item>
    <ion-item>
        <ion-label>Kalan süre: </ion-label>{{remainingTime}} gün
        <ion-button (click)="navToExtensionTimes()">Ek süre</ion-button>
    </ion-item>
    <ion-button expand="block" (click)="navToParties()">Taraflar</ion-button>
</ion-content>
